{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Именно эксперимент {% endblock %}</h1>
{% endblock %}

{% block text_main_1 %}
    <h2>Привет</h2>
    <h5>Это главная страница самого убогого эксперимента за все время существования ФиК(а)Ла. Если хотите в нем поучаствовать, то нажмите на вторую кнопку в шапке. Третья кнопка отображает статистику эксперимента. Хорошего утра/дня/вечера!</h5>
{% endblock %}

{% block text_image %}
    <br>
    <img src="/static/IMG_7059.PNG" width="320" height="181" alt="Фотография">
{% endblock %}



